<mat-card class="fixed-size-card">
  <mat-card-content class="card-content">
    <h4 class="card-title">ID: {{ user.id }}</h4>
    <p class="card-item">Nombre: {{ user.username }} </p>
    <p class="card-item">Rol: {{ user.role }}</p>
    <mat-divider class="divider"></mat-divider>
    <h4 class="card-title">Datos personales:</h4>
    <p class="card-item"> Dirección: {{ user.address }}</p>
    <p class="card-item"> Ciudad: {{ user.address }}</p>
    <p class="card-item"> Contacto: {{ user.email }}</p>
  </mat-card-content>
</mat-card>
