<div class="p-grid">
  <div class="p-col-12 mt-3">
    <img
      src="../../../../assets/img/welcome-page-guitar.jpg"
      alt="Imagen"
      class="image"
    />
  </div>
  <div class="text-container">
    <h1>Bienvenido a mi App!</h1>
    <p>
      Las funcionalidades básicas de la App las encontrarás al pinchar en el
      menú superior izquierdo. A pesar de ser una App de envíos, le he dado un
      toque rock porque me apetecía hacer algo distinto y colorido.
    </p>
    <p>Las tecnologías usadas son:</p>
    <ul>
      <li>Angular</li>
      <li>TypeScript</li>
      <li>Angular Material</li>
      <li>JSON-SERVER</li>
      <li>Prime-Flex</li>
      <li>CSS</li>
    </ul>
    <p>P.D: El hover de la imagen no hace nada, solo es para que se vea que sé hacerlo :D</p>
  </div>
  
</div>
