<mat-toolbar color="primary" class="mat-elevation-z2 fixed-footer">
  <div class="grid-container">
    <div class="column-1">
      <div class="logo-container">
        <img src="../../../../assets/img/invent.jpg" alt="invent-logo" />
      </div>
    </div>
    <div class="column-2">
      <div class="about-me">
        <p>Me llamo Àlex Moya y soy programador FSD.</p>
        <p>
          te dejo la derecha los enlaces a mi LinkedIn y GitHub para que puedas
          ver más de mis proyectos.
        </p>
        <p>Gracias!</p>
      </div>
    </div>
    <div class="column-3">
      <div class="flex-container">
        <div class="anchor-container">
          <a href="https://github.com/Alexm0u" class="anchor"
            ><i class="fab fa-github large-icon"></i> Github</a
          >
          <a
            href="https://www.linkedin.com/in/%C3%A1lex-moya-camps-fsd/"
            class="anchor"
            ><i class="fab fa-linkedin large-icon"></i> LinkedIn</a
          >
        </div>
        <div class="copyright">&copy; 2023 Hecho por alexm0u en GitHub</div>
      </div>
    </div>
  </div>
</mat-toolbar>
