.anchor-container {
    display: flex;
    justify-content: center;
}

.anchor {
    margin-right: 10px;
}
.large-icon {
    font-size: 24px;
    color: white;
  }
  .logo-container {
    display: flex;
    align-items: left;
}

.logo-image {
    width: 100%;
    height: auto;
    margin-left: 20px;
}

  