<mat-card class="fixed-size-card">
  <mat-card-content class="card-content">
    <h4 class="card-title">{{ company.name }}</h4>
    <p class="card-item">Dirección: {{ company.direction }}</p>
    <p class="card-item">Contacto: {{ company.phone }}</p>
    <h4 class="card-title">Códigos postales de envío:</h4>
    <p class="card-item">{{ company.postalCodes }}</p>
  </mat-card-content>
  <mat-divider class="divider"></mat-divider>
  <mat-card-actions class="card-actions">
    <button mat-button mat-raised color="primary" [routerLink]="['/panel/edit', company.id]">
      <mat-icon>edit</mat-icon>Editar
    </button>
  </mat-card-actions>
</mat-card>
