<mat-card class="fixed-size-card">
  <mat-card-content class="card-content">
    <h4 class="card-title">Nombre: {{ company.name }}</h4>
    <p class="card-item">Dirección: {{ company.direction }}</p>
    <p class="card-item">Contacto: {{ company.phone }}</p>
    <h4 class="card-title">Códigos postales de envío:</h4>
    <p class="card-item">{{ company.postalCodes }}</p>
  </mat-card-content>
  <mat-divider class="divider"></mat-divider>
    <div class="button-container">
      <button mat-button color="secondary" [routerLink]="['/panel/edit', company.id]">
        <mat-icon>edit</mat-icon>Editar
      </button>
    </div>
  
</mat-card>
