<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Panel de control</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Bienvenido al panel de control de INVENT, escoge una de las opciones:</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Tipos de paquete</button>
      <button mat-button>Administradores / trabajadores</button>
      <button mat-button>Envíos registrados</button>
      <button mat-button>Empresas externas transporte</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
