



















<!-- <mat-card>
    <mat-card-header>
      <mat-card-title color="primary">Menú principal</mat-card-title>
      <mat-card-subtitle color="primary">Escoge una opción</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="mat-button-spacing">
      <button mat-button color="primary">Tipos de paquete</button>
      <button mat-button color="primary">Administradores / Trabajadores</button>
      <button mat-button color="primary">Envíos registrados</button>
      <button mat-button color="primary">Empresas externas de transporte</button>
    </mat-card-actions>
  </mat-card>
   -->