<h1>Empresas de transporte</h1>
<mat-divider></mat-divider>

<div class="grid mb-2 pt-2 justify-content-center">
  <button mat-flat-button mat-raised color="primary" routerLink="/panel/add-comp"><mat-icon>add</mat-icon>Añadir Empresa</button>
</div>
<div class="grid mb-8 pt-2 justify-content-center">
  <ng-container *ngFor="let company of companies" class="col-12 sm:col-4 md:col-3 xl:col-2">
    <div>
      <company-companies-list [company]="company"></company-companies-list>
    </div>
  </ng-container>
</div>
